@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .embla {
    @apply max-w-screen-lg m-auto;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;
  }

  .embla__viewport {
    @apply overflow-hidden;
  }

  .embla__container {
    @apply flex ml-[calc(var(--slide-spacing)_*_-1)];
    backface-visibility: hidden;
    touch-action: pan-y pinch-zoom;
  }

  .embla__slide {
    @apply flex-[0_0_var(--slide-size)] min-w-0 pl-[var(--slide-spacing)];
  }

  .embla__slide__number {
    @apply shadow-[inset_0_0_0_0.2rem_var(--detail-medium-contrast)] text-[4rem] font-semibold flex items-center justify-center h-[var(--slide-height)] rounded-[1.8rem];
  }

  .embla-thumbs {
    @apply mt-[var(--thumbs-slide-spacing)];
    --thumbs-slide-spacing: 0.5rem;
    --thumbs-slide-height: 6rem;
  }

  .embla-thumbs__viewport {
    @apply overflow-hidden;
  }

  .embla-thumbs__container {
    @apply flex flex-row ml-[calc(var(--thumbs-slide-spacing)_*_-1)];
  }

  .embla-thumbs__slide {
    @apply flex-[0_0_22%] min-w-0 pl-[var(--thumbs-slide-spacing)];
  }

  @media (min-width: 576px) {
    .embla-thumbs__slide {
      @apply flex-[0_0_15%];
    }
  }

  .embla-thumbs__slide__number {
    @apply appearance-none bg-transparent touch-manipulation no-underline cursor-pointer shadow-[inset_0_0_0_0.2rem_var(--detail-medium-contrast)] text-[1.8rem] font-semibold text-[color:var(--detail-high-contrast)] flex items-center justify-center h-[var(--thumbs-slide-height)] w-full m-0 p-0 rounded-[1.8rem] border-0;
    -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
    -webkit-appearance: none;
    appearance: none;
  }

  .embla-thumbs__slide--selected .embla-thumbs__slide__number {
    @apply text-[color:var(--text-body)];
  }
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #fff;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #fff, 0 0 5px #fff;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}